In [76]:
import pandas as pd
from pathlib import Path

In [77]:
path = Path('FOMC_minutes.csv')
df = pd.read_csv("/Users/julio/University/BMGT448V/FOMC_minutes.csv")

In [78]:
df["len_statement"] = df["statements"].apply(len)

In [79]:
df.head(10)

,date,statements,len_statement
0,2/4/1994,Chairman Alan Greenspan announced today that t...,636
1,3/22/1994,Chairman Alan Greenspan announced today that t...,258
2,4/18/1994,Chairman Alan Greenspan announced today that t...,238
3,5/17/1994,The Federal Reserve today announced two action...,1118
4,8/16/1994,The Federal Reserve announced today the follow...,919
5,11/15/1994,The Federal Reserve Board today approved an in...,914
6,2/1/1995,The Federal Reserve Board today approved an in...,946
7,7/6/1995,Chairman Alan Greenspan announced today that t...,455
8,12/19/1995,Chairman Alan Greenspan announced today that t...,538
9,1/31/1996,The Federal Reserve today announced the follow...,916

In [80]:
ex_date = "2/9/1996"

In [91]:
def get_year(date):
    string_pd = pd.to_datetime(date)
    return string_pd.year

In [92]:
get_year(ex_date)

1996

In [93]:
df["year"] = df["date"].apply(get_year)

In [95]:
df.head()

,date,statements,len_statement,year
0,2/4/1994,Chairman Alan Greenspan announced today that t...,636,1994
1,3/22/1994,Chairman Alan Greenspan announced today that t...,258,1994
2,4/18/1994,Chairman Alan Greenspan announced today that t...,238,1994
3,5/17/1994,The Federal Reserve today announced two action...,1118,1994
4,8/16/1994,The Federal Reserve announced today the follow...,919,1994